.coustom-style {
    background-color: #feeae9;
    padding: 40px;
    border-radius: 10px;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
}

* {
    font-family: "Poppis", sans-serif !important;
}

.coustom-style img {
    max-width: 410px;
}

.product-title {
    color: #ff589b;
    font-size: 3rem;
    font-weight: bold;
}

.price {
    color: #ff136f;
    font-size: 35px;
    font-weight: 900;
    margin: -10px 0 30px 0;
}

.def-button {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 45px;
    transition: 0.5s;
}

.little-small {
    padding: 10px 15px;
}

.cat-name {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.cat-img {
    max-width: 100px;
}

.cat-active {
    background-color: #ff136f;
}

.product-card-active {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
}

.product-card-active .def-button {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    color: #ff136f;
}

.product-card {
    transition: 0.8s;
}

.product-card:hover {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    transform: translateY(-10px);
}

.product-card:hover.product-card .def-button {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    color: #ff136f;
}

.holder {
    height: 300px;
    background-color: #feeae9;
}

.input {
    border: 0;
    outline: 0;
    height: 45px;
    border-radius: 5px;
    padding: 25px;
}